html, body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* grid */
@media (min-width: 500px) {
  .grid { display: flex; }
  .grid > * { flex: 1; }
}